<div class="container-login">
    <div class="container-login-mini">
        <div class="title-login">
            <h1>LOGIN</h1>
        </div>
        <div class="inputs-login">
            <input type="text" id="user" placeholder="Usuario">
            <input style="margin-bottom: 35px;" type="password" id="pass" placeholder="Contraseña">
            <button id="btn">LOGUEATE</button> 
        </div>
        <div class="no-tenes-cuenta">
            <a href="/register">¿No tenés cuenta?</a>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>