

<div class="container-login">
    <div style="height: 60%;" class="container-login-mini">
        <div style="height: 20%; padding-left: 30px;" class="title-login">
            <h1>REGISTER</h1>
        </div>
        <div style="height: 65%;" class="inputs-login">
            <input type="text" id="name" placeholder="Nombre">
            <input type="text" id="user" placeholder="Usuario">
            <input type="password" id="pass" placeholder="Contraseña">
            <input style="margin-bottom: 35px;" type="password" id="passconfirm" placeholder="Confirmar Contraseña">
            <button id="btn">REGISTRATE</button> 
        </div>
        <div style="height: 15%; "class="no-tenes-cuenta">
            <a href="/">¿Ya tenés cuenta?</a>
        </div>
    </div>
</div>

<script src="/js/register.js"></script>